[core]
copyFrom:ROOT:异界白菜虫/all-units.template
updateUnitMemory:globalAdd=-0.2
#临时削弱20%
[hiddenAction_庇护]
autoTrigger:false
convertTo_keepCurrentTags:true

[hiddenAction_雾隐]
autoTrigger:false
convertTo_keepCurrentTags:true
